{% extends "layout.html.twig" %}
{% block content %}

<ul class="breadcrumb">
  <li>
     <a href="{{ path('offloc_router_admin_home') }}">Home</a> <span class="divider">/</span>
  </li>
  <li>
     <a href="{{ path('offloc_router_admin_service_root') }}">Services</a> <span class="divider">/</span>
  </li>
  <li class="active">
     <a href="{{ path('offloc_router_admin_service_detail', {serviceKey: service.key}) }}">Service: {{ service.name }}</a>
  </li>
</ul>

<div class="page-header">
  <h1>
    Service Details
  </h1>
</div>

<div class="row-fluid">
  <div class="span6">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd>{{ service.name }}</dd>
      <dt>Website</dt>
      <dd><a href="{{ service.url }}">{{ service.url }}</a></dd>
      <dt>Status</dt>
      <dd>{% if service.active %}Active{% else %}Inactive{% endif %}</dd>
    </dl>
  </div>
  <div class="span6">
    <dl class="dl-horizontal">
      <dt>Key</dt>
      <dd><input type="text" value="{{ service.key }}"></dd>
      <dt>Secret</dt>
      <dd><input type="text" value="{{ service.secret }}"></dd>
    </dl>
  </div>
</div>

<h2>Routes</h2>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Target</th>
    </tr>
  </thead>
  <tbody>
  {% for route in routes %}
    <tr data-route-detail-url="{{ path('offloc_router_admin_route_detail', {routeId: route.id }) }}">
      <td><a href="{{ path('offloc_router_admin_route_detail', {routeId: route.id}) }}">{{ route.id }}</a></td>
      <td><a href="{{ path('offloc_router_admin_route_detail', {routeId: route.id}) }}">{{ route.name }}</a></td>
      <td><a href="{{ route.target }}">{{ route.target }}</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<ul class="nav nav-pills">
  <li><a href="#" id="create-route-button">Create Route</a></li>
</ul>

<div class="modal hide" id="create-route-modal">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3>Create Route</h3>
    </div>
    <div class="modal-body">
      <form class="form-horizontal" method="post" action="{{ path('offloc_router_admin_route_create') }}">
        <fieldset>
          <div class="control-group">
            <label class="control-label">Service</label>
            <div class="controls">
              <select name="serviceKey">
                <option value="{{ service.key }}">{{ service.name }}</option>
              </select>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Target</label>
            <div class="controls">
              <input type="text" name="target" placeholder="http://example.com/">
              <p class="help-block">The URL to which the route should forward.</p>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Name</label>
            <div class="controls">
              <input type="text" name="name" placeholder="Describe Content">
              <p class="help-block">A descriptive name for the route.</p>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Vanity Route Identifier</label>
            <div class="controls">
              <input type="text" name="suggestion" placeholder="AAAA, BBBB, CCC...">
              <p class="help-block">Not content with an assigned ID? Request something specific and hope for the best...</p>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Close</a>
      <a href="#" class="btn btn-primary">Create Route</a>
    </div>
</div>

{% endblock %}
{% block scripts %}
<script>
$(function() {

  $('.table > tbody > tr').click(function(e) {
    window.location = $(this).attr('data-route-detail-url');
  });

  var $launchModal = $('#create-route-button').click(function(e) {

    var $modal = $('#create-route-modal').modal();

    $modal.find('a.btn-primary').click(function(e) {
      $modal.find('form').submit();
    });

    $modal.on('hide', function() {
      $modal.find('form input').val('');
    });

  });

});
</script>
{% endblock %}
