{% extends "layout.html.twig" %}
{% block content %}

<ul class="breadcrumb">
  <li>
     <a href="{{ path('offloc_router_admin_home') }}">Home</a> <span class="divider">/</span>
  </li>
  <li class="active">
     <a href="{{ path('offloc_router_admin_service_root') }}">Services</a>
  </li>
</ul>

<div class="page-header">
  <h1>
    Services
  </h1>
</div>

<table class="table">
  <thead>
  	<tr>
  	  <th>Name</th>
  	  <th>URL</th>
  	  <th>Status</th>
  	</tr>
  </thead>
  <tbody>
  {% for service in services %}
    <tr data-service-detail-url="{{ path('offloc_router_admin_service_detail', {serviceKey: service.key}) }}">
      <td><a href="{{ path('offloc_router_admin_service_detail', {serviceKey: service.key}) }}">{{ service.name }}</a></td>
      <td><a href="{{ service.url }}">{{ service.url }}</a></td>
      <td>{% if service.active %}Active{% else %}Inactive{% endif %}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<ul class="nav nav-pills">
  <li><a href="#" id="create-service-button">Create Service</a></li>
</ul>

<div class="modal hide" id="create-service-modal">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3>Create Service</h3>
    </div>
    <div class="modal-body">
      <form class="form-horizontal" method="post" action="{{ path('offloc_router_admin_service_create') }}">
        <fieldset>
          <div class="control-group">
            <label class="control-label">Name</label>
            <div class="controls">
            	<input type="text" name="name" placeholder="Example Inc.">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Website</label>
            <div class="controls">
            	<input type="text" name="url" placeholder="http://example.com/">
            </div>
          </div>
        </fieldset>
      </form>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Close</a>
      <a href="#" class="btn btn-primary">Create Service</a>
    </div>
</div>

{% endblock %}
{% block scripts %}
<script>
$(function() {

	$('.table > tbody > tr').click(function(e) {
		window.location = $(this).attr('data-service-detail-url');
	});

  var $launchModal = $('#create-service-button').click(function(e) {

    var $modal = $('#create-service-modal').modal();

    $modal.find('a.btn-primary').click(function(e) {
      $modal.find('form').submit();
    });

    $modal.on('hide', function() {
      $modal.find('form input').val('');
    });

  });

});
</script>
{% endblock %}
