<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Web Prism</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ app.request.basePath }}/assets/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <link href="{{ app.request.basePath }}/assets/css/bootstrap-responsive.min.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Web Prism</a>
          {% if is_granted('ROLE_SUPER_ADMIN') %}
          <div class="btn-group pull-right">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-user"></i> {{ app.security.token.user.username }}
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="{{ path('logout') }}">Sign Out</a></li>
            </ul>
          </div>
          {% endif %}
          <div class="nav-collapse">
            <ul class="nav">
              <li class="{% if 'offloc_prism_admin_home' == app.request.attributes.get('_route') %} active {% endif %}"><a href="{{ path('offloc_prism_admin_home') }} ">Home</a></li>
              <li class="{% if 'offloc_prism_admin_service_root' == app.request.attributes.get('_route') %} active {% endif %}"><a href="{{ path('offloc_prism_admin_service_root') }} ">Services</a></li>
            </ul>
          </div><!--/.nav-collapse -->
          <form class="navbar-search pull-left" method="post" action="{{ path('offloc_prism_admin_search') }}">
            <input type="text" class="search-query" name="query" placeholder="Search">
          </form>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          {% block content %}
          {% endblock %}
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Offloc Incorporated 2012</p>
      </footer>

    </div><!--/.fluid-container-->

    <script src="{{ app.request.basePath }}/assets/js/jquery.min.js"></script>
    <script src="{{ app.request.basePath }}/assets/js/bootstrap.min.js"></script>
    {% block scripts %}
    {% endblock %}
  </body>
</html>
