{% extends "layout.html.twig" %}
{% block content %}

<ul class="breadcrumb">
  <li>
     <a href="{{ path('offloc_prism_admin_home') }}">Home</a> <span class="divider">/</span>
  </li>
  <li class="active">
     <a href="{{ path('offloc_prism_admin_route_detail', {routeId: route.id}) }}">Route: {{ route.id }}</a>
  </li>
</ul>

<div class="page-header">
  <h1>
    Route Details
  </h1>
</div>

<dl class="dl-horizontal">
  <dt>Route ID</dt>
  <dd>{{ route.id }}</dd>
  <dt>Target</dt>
  <dd><a href="{{ route.target }}">{{ route.target }}</a></dd>
  {% if route.name %}
  <dt>Name</dt>
  <dd>{{ route.name }}</dd>
  {% endif %}
  <dt>Service</dt>
  <dd><a href="{{ path('offloc_prism_admin_service_detail', {serviceKey: route.service.key}) }}">{{ route.service.name }}</a></dd>
</dl>

<div class="page-header">
  <h1>
    Headers
  </h1>
</div>

{% if route.headers %}
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
  {% for key, value in route.headers %}
    <tr>
      <td>{{ key }}</td>
      <td>{{ value }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endif %}

<ul class="nav nav-pills">
  <li><a href="#" id="create-headers-button">Create Headers</a></li>
</ul>


{% endblock %}
